<div class="container-fluid" *ngIf="asset">
  <div class="card shadow-lg">
    <div class="card-header title-bar">
      <h2 class="mb-0 text-center">
        <i class="fas fa-desktop me-2"></i>DETALLES DEL ACTIVO
      </h2>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'general'" (click)="changeTab('general')" style="cursor: pointer;">
            <i class="fas fa-info-circle me-2"></i>General
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'bios'" (click)="changeTab('bios')" style="cursor: pointer;">
            <i class="fas fa-microchip me-2"></i>BIOS
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'cpu'" (click)="changeTab('cpu')" style="cursor: pointer;">
            <i class="fas fa-microchip me-2"></i>CPU
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'drive'" (click)="changeTab('drive')" style="cursor: pointer;">
            <i class="fas fa-database me-2"></i>Unidades
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'memory'" (click)="changeTab('memory')" style="cursor: pointer;">
            <i class="fas fa-memory me-2"></i>Memoria
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'monitor'" (click)="changeTab('monitor')" style="cursor: pointer;">
            <i class="fas fa-tv me-2"></i>Monitor
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'storage'" (click)="changeTab('storage')" style="cursor: pointer;">
            <i class="fas fa-hard-drive me-2"></i>Almacenamiento
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'video'" (click)="changeTab('video')" style="cursor: pointer;">
            <i class="fas fa-film me-2"></i>Video
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'ubicacion'" (click)="changeTab('ubicacion')" style="cursor: pointer;">
            <i class="fas fa-map-marker-alt me-2"></i>Ubicación
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeTab === 'software'" (click)="changeTab('software')" style="cursor: pointer;">
            <i class="fas fa-cube me-2"></i>Software
          </a>
        </li>
      </ul>
      <!-- Contenido de las pestañas -->
      <div class="tab-content" [ngSwitch]="activeTab">
        <div *ngSwitchCase="'general'">
          <!-- Contenido existente para información general -->
          <div class="row">
            <div class="col-lg-6 mb-3">
              <h4 class="text-secondary">Información General</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-desktop me-2"></i><strong>Nombre:</strong> {{ asset.name }}</li>
                <li class="list-group-item"><i class="fas fa-users me-2"></i><strong>Grupo de trabajo:</strong> {{ asset.workgroup }}</li>
                <li class="list-group-item"><i class="fas fa-network-wired me-2"></i><strong>Dirección IP:</strong> {{ asset.ipAddr }}</li>
                <li class="list-group-item"><i class="fas fa-info-circle me-2"></i><strong>Tipo:</strong> {{ asset.type }}</li>
                <li class="list-group-item"><i class="fas fa-comment me-2"></i><strong>Descripción:</strong> {{ asset.description }}</li>
              </ul>
              <h4 class="text-secondary mt-3">Información de Red</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-network-wired me-2"></i><strong>IP Source:</strong> {{ asset.ipSrc }}</li>
                <li class="list-group-item"><i class="fas fa-server me-2"></i><strong>DNS:</strong> {{ asset.dns }}</li>
                <li class="list-group-item"><i class="fas fa-route me-2"></i><strong>Gateway por defecto:</strong> {{ asset.defaultGateway }}</li>
              </ul>
              <!-- Añadir nueva sección de Información de Inventario -->
              <h4 class="text-secondary mt-3">Información de Inventario</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-calendar-check me-2"></i><strong>Último escaneo:</strong> {{ asset.lastDate | date:'dd/MM/yyyy HH:mm' }}</li>
                <li class="list-group-item"><i class="fas fa-calendar-plus me-2"></i><strong>Primer inventariado:</strong> {{ asset.lastCome | date:'dd/MM/yyyy HH:mm' }}</li>
              </ul>
            </div>
            <div class="col-lg-6 mb-3">
              <h4 class="text-secondary">Sistema Operativo</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fab fa-windows me-2"></i><strong>Nombre SO:</strong> {{ asset.osName }}</li>
                <li class="list-group-item"><i class="fas fa-code-branch me-2"></i><strong>Versión SO:</strong> {{ asset.osVersion }}</li>
                <li class="list-group-item"><i class="fas fa-comment-dots me-2"></i><strong>Comentarios SO:</strong> {{ asset.osComments }}</li>
              </ul>
              <h4 class="text-secondary mt-3">Hardware</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-microchip me-2"></i><strong>Procesadores:</strong> {{ asset.processors }}</li>
                <li class="list-group-item"><i class="fas fa-microchip me-2"></i><strong>Tipo de Procesador:</strong> {{ asset.processorType }}</li>
                <li class="list-group-item"><i class="fas fa-microchip me-2"></i><strong>Núcleos:</strong> {{ asset.processorN }}</li>
                <li class="list-group-item"><i class="fas fa-memory me-2"></i><strong>Memoria:</strong> {{ asset.memory }} MB</li>
                <li class="list-group-item"><i class="fas fa-hdd me-2"></i><strong>Swap:</strong> {{ asset.swap }} MB</li>
              </ul>
              <h4 class="text-secondary mt-3">Información de Windows</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-building me-2"></i><strong>Compañía:</strong> {{ asset.winCompany }}</li>
                <li class="list-group-item"><i class="fas fa-user me-2"></i><strong>Propietario:</strong> {{ asset.winOwner }}</li>
                <li class="list-group-item"><i class="fas fa-key me-2"></i><strong>ID de Producto:</strong> {{ asset.winProdId }}</li>
                <li class="list-group-item"><i class="fas fa-lock me-2"></i><strong>Clave de Producto:</strong> {{ asset.winProdKey }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'bios'">
          <app-bios-details *ngIf="componentData.bios" [biosData]="componentData.bios"></app-bios-details>
          <p *ngIf="!componentData.bios">No hay datos de BIOS disponibles.</p>
        </div>
        <div *ngSwitchCase="'cpu'">
          <app-cpu-details *ngIf="componentData.cpu" [cpuData]="componentData.cpu"></app-cpu-details>
          <p *ngIf="!componentData.cpu">No hay datos de CPU disponibles.</p>
        </div>
        <div *ngSwitchCase="'drive'">
          <app-drive-details *ngFor="let drive of componentData.drive" [driveData]="drive"></app-drive-details>
        </div>
        <div *ngSwitchCase="'memory'">
          <app-memory-details *ngFor="let memory of componentData.memory; let i = index" 
                              [memoryData]="memory" 
                              [index]="i">
          </app-memory-details>
        </div>
        <div *ngSwitchCase="'monitor'">
          <app-monitor-details *ngFor="let monitor of componentData.monitor; let i = index" 
                               [monitorData]="monitor" 
                               [index]="i">
          </app-monitor-details>
        </div>
        <div *ngSwitchCase="'storage'">
          <app-storage-details *ngFor="let storage of componentData.storage" [storageData]="storage"></app-storage-details>
        </div>
        <div *ngSwitchCase="'video'">
          <app-video-details *ngFor="let video of componentData.video" [videoData]="video"></app-video-details>
        </div>
        <div *ngSwitchCase="'ubicacion'">
          <app-ubicacion-details [hardwareId]="asset.id"></app-ubicacion-details>
        </div>
        <div *ngSwitchCase="'software'">
          <app-software-details *ngIf="componentData.software" [softwareData]="componentData.software"></app-software-details>
          <p *ngIf="!componentData.software">No hay datos de software disponibles.</p>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex flex-wrap justify-content-between align-items-center">
      <button class="btn btn-secondary mb-2 mb-md-0" (click)="volver()">
        <i class="fas fa-arrow-left me-2"></i>Volver
      </button>
      <div>
        <button class="btn btn-export me-2 mb-2 mb-md-0" (click)="exportarAPdf()">
          <i class="fas fa-file-pdf me-2"></i>Exportar a PDF
        </button>
        <!-- El botón "Editar" ha sido eliminado -->
      </div>
    </div>
  </div>
</div>