<div class="container">
  <h2>Gestión de Proveedores</h2>
  
  <h3>Lista de Proveedores</h3>
  <ul class="list-group">
    <li *ngFor="let proveedor of proveedoresList; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        {{ proveedor.descripcion }} - {{ proveedor.direccion }} - Tel: {{ proveedor.telefonos }}
      </div>
      <div>
        <button class="btn btn-secondary btn-sm me-2" (click)="abrirModalVer(editModal, i)">Ver</button>
        <button class="btn btn-info btn-sm me-2" (click)="abrirModalEditar(editModal, i)">Editar</button>
        <button class="btn btn-danger btn-sm" (click)="eliminarProveedor(proveedor.nroProveedor)">Eliminar</button>
      </div>        
    </li>
  </ul>
</div>

<!-- Modal -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editModalLabel">{{ isEditing ? 'Editar' : 'Ver' }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="proveedoresForm" (ngSubmit)="guardarCambios()">
      <div class="mb-3">
        <label for="nroProveedor" class="form-label">Número de Proveedor:</label>
        <input id="nroProveedor" formControlName="nroProveedor" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <input id="descripcion" formControlName="descripcion" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección:</label>
        <input id="direccion" formControlName="direccion" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="telefonos" class="form-label">Teléfonos:</label>
        <input id="telefonos" formControlName="telefonos" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()" *ngIf="!isEditing">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="exportarAPdf()" *ngIf="!isEditing">Exportar a PDF</button>
        <button type="submit" class="btn btn-primary" (click)="guardarCambios()" *ngIf="isEditing">Guardar Cambios</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()" *ngIf="isEditing">Cancelar</button>
      </div>
    </form>
  </div>
</ng-template>
