<div class="sidenav">
  <a routerLink="/menu/compras">Compras</a>
  <a routerLink="/menu/compras-pedido">Compras-Pedido</a>
  <a routerLink="/menu/hardware">Hardware</a>
  <a routerLink="/menu/hw-compras">HW-Compras</a>
  <a routerLink="/menu/hw-local">HW-Local</a>
  <a routerLink="/menu/hw-sw-compras">HW-SW-Compras</a>
  <a routerLink="/menu/local">Local</a>
  <a routerLink="/menu/proveedores">Proveedores</a>
  <a routerLink="/menu/software">Software</a>
  <a routerLink="/menu/sw-compras">SW-Compras</a>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
