<div class="sidenav">
  <div class="logo-name-container"> <!-- Añade un contenedor para centrar la imagen -->
    <img src="assets/logoName.png" alt="Logo de la App" class="logo-name">
  </div>
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="assets/awoo-awoo-shoppe.gif" alt="Cerbero Logo" class="logo">
    </div>
  </div>

  <!-- Menú de navegación -->
  <a routerLink="/menu/dashboard" routerLinkActive="active">
    <i class="fas fa-tachometer-alt"></i>
    <span>PANEL DE CONTROL</span>
  </a>
  <a routerLink="/menu/assets" routerLinkActive="active">
    <i class="fas fa-laptop"></i>
    <span>ACTIVOS</span>
  </a>
  <a routerLink="/menu/software" routerLinkActive="active">
    <i class="fas fa-code"></i>
    <span>SOFTWARE</span>
  </a>
  <a routerLink="/menu/procurement" routerLinkActive="active">
    <i class="fas fa-shopping-cart"></i>
    <span>ADQUISICIONES</span>
  </a>
  <a routerLink="/menu/settings" routerLinkActive="active">
    <i class="fas fa-cog"></i>
    <span>CONFIGURACIÓN</span>
  </a>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
