<ngx-particles [options]="particlesOptions"></ngx-particles>
<div class="home-container"></div> <!-- Este div solo se usa para el fondo negro -->
<div class="content-container">
    <img src="assets/logo4.png" alt="Cerbero Logo" class="logo">
    <form class="login-form" (ngSubmit)="onSubmit()">
        <input type="text" placeholder="Usuario" [(ngModel)]="username" name="username" required>
        <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required>
        <button type="submit" [disabled]="loading">
            <span *ngIf="loading">Iniciando sesión...</span>
            <span *ngIf="!loading">Iniciar Sesión</span>
        </button>
        <div *ngIf="loginError" class="login-error">
            {{ errorMessage }}
        </div>
    </form>
</div>
<!-- La línea de la imagen de Running Wolf ha sido eliminada -->
